.not-found-page {
  font-weight: 900;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  margin-top: 300px;

  a {
    margin-top: 30px;
    cursor: pointer;
    text-decoration: underline;
  }
}