.leaderboard-container {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  //margin-bottom: 250px;
}

.leaderboard-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 93.5%;
  color: #FFFFFF;

  margin-bottom: 40px;
}

.leaderboard-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//.leaderboard-card-outer {
//  width: 100%;
//  //display: flex;
//  &:not(:last-child) {
//    margin-bottom: 18px;
//  }
//}

.leaderboard-card-container {
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 20px;
  background: linear-gradient(253.09deg, rgba(217, 217, 217, 0.25) -7.53%, rgba(217, 217, 217, 0) 97.04%);
  backdrop-filter: blur(43.8596px);
  border: 0.877193px solid rgba(253, 250, 250, 0.25);
  border-radius: 29px;
  //position: relative;
  &.best {
    background: linear-gradient(0deg, rgba(96, 65, 186, 0.4), rgba(96, 65, 186, 0.4)), linear-gradient(253.09deg, rgba(217, 217, 217, 0.25) -7.53%, rgba(217, 217, 217, 0) 97.04%);
    border: 3.5px solid #6041BA;
    backdrop-filter: blur(44px);
  }

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.leaderboard-card-image {
  width: 90px;
  height: 90px;
  border-radius: 10px;

  margin-right: 60px;
}

.leaderboard-card-name {
  font-weight: 400;
  font-size: 30.7018px;
  line-height: 39px;
  color: #FFFFFF;
}

.leaderboard-card-total {
  font-weight: 800;
  font-size: 30.7018px;
  line-height: 39px;
  color: #FFFFFF;

  //position: relative;
  //right: 0;

  //float: right !important;
  //
  position: absolute;
  right: 42px;
}